body{
	background-color:#202020;
	color:#ffffff;
	font-family:"MinecraftiaRegular";
	font-weight:normal;
	font-style:normal;
}
div{
	background-color:#2a2a2a;
	color:#ffffff;
	padding:10px;
}
a{
	text-decoration:none;
	color:#ffffff;
}
a.hover{
	color:#e1e1ff;
}